.centered-text {
    text-align: center;
    margin: 0 auto;
}

.center-grid {
    width: 70%;
}

.requirement-header {
    padding-left: 2em;
}

.requirement-description {
    position: relative;
    padding-left: 1em;
}

.requirement-description h4, h5{
    display:inline;
}

#heading-bar {
    background-color: #0074D9;
    margin-top: 1em;
    padding-bottom: 1em;
    color: white;
}

#heading-bar h1 {
    padding-top: 2em;
    font-weight: 500;
}

